<div class="outer">
<div class="middle">
<div class="inner">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="images/perfil.png"
                        alt="">
                    <form class="form form-signin">

                    <div class="form-group">
                        <label for="username" class="control-label">Usuario:</label>
                        <input type="text" id="username" class="form-control" placeholder="Matrícula o Email" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Contraseña:</label>
                        <input type="password" id="password" class="form-control" placeholder="" required>
                    </div>

                    <button class="btn btn-lg btn-success btn-block" type="submit">
                        Iniciar Sesión</button><br>
                     <a href="#/registro" class="text-center new-account">Regístrate</a>
                    </form>
                </div>
               
            </div>
        </div>  
</div>
</div>
</div>